#lastName {
    color: darkslategrey;
    font-weight: bold;
}

.timeline {
    font-weight: bold;
}

.job-title {
    color: cadetblue;
}

.company-name {
    font-weight: bold;
}

.company-name, .company-division {
    display: inline-block;
    width: fit-content;
}

.job-title, .vertical-divider {
    display: inline-block;
    width: fit-content;
    font-weight: bold;
}