@font-face {
    font-family: comic_neue;
    src: url(./fonts/Comic_Neue/ComicNeue-Regular.ttf);
}

@font-face {
    font-family: comic_neue_bold;
    src: url(./fonts/Comic_Neue/ComicNeue-Bold.ttf);
}

html {
    background-color: pink;
}

body {
    font-family:comic_neue;
}

#header, #footer {
    background-color: darkcyan;
    height: 50px;
}

#content {
    display: grid;
    grid-template-columns: auto auto;
}

#content-contact {
    text-align:right;
    margin-top: auto;
    margin-bottom: auto;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#left, #right {
    background-color: darkcyan;
    width: 50px;
    display: inline-block;
}

#mid {
    background-color:azure;
    padding: 10px;
}

#lastName {
    color: black;
    font-family: comic_neue_bold;
}

/* TODO */
#avidyne {
    display: none;
}

.timeline {
    font-family: comic_neue_bold;
}

.job-title {
    color:deeppink;
}

.company-name {
    font-family: comic_neue_bold;
}

.company-name, .company-division {
    display: inline-block;
    width: fit-content;
}

.job-title, .vertical-divider {
    display: inline-block;
    width: fit-content;
    font-family: comic_neue_bold;
}

.city, .state {
    display: inline-block;
    width: fit-content;
}

.line {
    height: 0;
    border: 1px solid black;
    display:block;
    margin-bottom: 5px;
}

.title {
    font-family: comic_neue_bold;
}

.column-list {
    column-count: 4;
}

.single-column {
    display: grid;
}

.name {
    margin-top: auto;
    margin-bottom: auto;
    font-size: xx-large;
}

.degree-type {
    display: inline-block;
    font-family: comic_neue_bold;
}

.major-type {
    display: inline-block;
    font-family: comic_neue_bold;
}

.school-name {
    font-family: comic_neue_bold;
}

.school {
    padding-bottom: 10px;
}

a {
    color: darkcyan;
}